:root {
  --color-bg: #f8f9fa;
  --color-text: #222;
  --color-header: #1b1d1f;
  --color-sidebar: #fff;
  --color-module: #fFF;
  --color-table: #fff;
}

body.dark-mode {
  --color-bg: #181c23;
  --color-text: #f1f1f1;
  --color-header: #23272f;
  --color-sidebar: #23272f;
  --color-module: #23272f;
  --color-table: #23272f;
}